@model User

    <div class="container py-4">
        <h2>Welcome: @Model.UserName!</h2>
        <h2>Rating: @Model.CumulatvieRating</h2>
        <h2>Profile Img: </h2>
        <img src="@Model.ProfileImage" alt="No Img Found" height="100px" width="auto" />
        <h2>Location: @Model.UserLocation</h2>
        <a asp-action="Transactions" asp-controller="Home" asp-route-Id="@Model.Id">
            <button>
                View my transactions
            </button>
        </a>
        <br />
        <a asp-action="UpdateProfile" asp-controller="Home" asp-route-Id="@Model.Id">
            <button>
                Edit Profile
            </button>
        </a>
        <br />
    </div>
