@model User
<h2>Rating: @Model.CumulatvieRating</h2>
<h2>Profile Img: @Model.ProfileImage</h2>
<h2>Location: @Model.UserLocation</h2>
<a asp-action="Transactions" asp-controller="Home" asp-route-Id="@Model.Id">
    <button>
        View my transactions
    </button>
</a>
<br />
<a asp-action="UpdateProfile" asp-controller="Home" asp-route-Id="@Model.Id">
    <button>
        Edit Profile
    </button>
</a>
<br />