@model User
<h2>UserName: @Model.UserName</h2>
<h2>Profile Img: </h2>
<img src="@Model.ProfileImage" alt="No Img Found" height="100px" width="auto" />
<h2>Location: @Model.UserLocation</h2>
<h2>Rating: @Model.CumulatvieRating/5</h2>
<a asp-action="Transactions" asp-controller="Home">
    <button>
        View my transactions
    </button>
</a>
<br />
<a asp-action="UpdateProfile" asp-controller="Home" asp-route-Id="@Model.Id">
    <button>
        Edit Profile
    </button>
</a>
<br />