@model List<Doc>

<div class="text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                @if (Model.Count > 0)
                {
                    <h1>Results for '@TempData["query"]'<br></h1>
                }
                else
                {
                    <h1>I'm Sorry, there were no results for: '@TempData["query"]'<br></h1>
                }

            </div>
        </div>
    </div>
</div>
<div class="" style="">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
            <div class="col-md-3 pb-4">
                <div class="card">

                    @if (item.cover_i == 0)
                    {
                        <img class="card-img-top" src="https://via.placeholder.com/500x750?text=No+Cover+Found" alt="No book cover image available for @item.title">
                    }
                    else
                    {
                        var imagePath = $"http://covers.openlibrary.org/b/id/{item.cover_i}-M.jpg";
                        <img class="card-img-top" src="@imagePath" alt="Book cover for @item.title" />
                    }

                    <div class="card-body">
                        <h5 class="card-title">@item.title</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        @if (item.author_name != null)
                        {
                            <li class="list-group-item">@item.author_name[0]</li>
                        }
                        <li class="list-group-item">Edition Number</li>
                        <li class="list-group-item"><strong>Available in your Community!</strong></li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link" asp-action="ViewApiInfoForSingleBook" asp-controller="Home"  asp-route-bookId="@item.key">
                            <button>
                                See more details
                            </button>
                        </a>
                        <a class="card-link" asp-action="AddBookToLibrary" asp-controller="Home" asp-route-bookId="@item.key">
                            <button>
                                Add To My Library
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>




