@model List<LoanRating>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    int userId = int.Parse(TempData["CurrentUser"].ToString());
}

<div class="container py-4">
    @if(Model.Count<1)
    {
    <h2>It looks like you haven't borrowed or loaned any books yet...</h2>
    }
    <h2>Your Books</h2>
    @foreach (LoanRating l in Model.Where(x => x.loan.BookOwner == userId && x.loan.LoanStatus))
    {
        <p>Loan #@l.loan.Id</p>
        int coverId = 0;
        @if (l.ApiBook.covers is not null)
        {
            coverId = l.ApiBook.covers.Where(x => x > 0).First();
        }

        string imgSrc = $"http://covers.openlibrary.org/b/id/{coverId}.jpg";
        @if (coverId != 0)
        {
            <img src=" @imgSrc" alt="@l.ApiBook.title" width="100" />
        }
        else
        {
            <img width="100" src="https://via.placeholder.com/500x750?text=No+Cover+Found" alt="No book cover image available for @l.ApiBook.title">
        }

        if (l.loan.IsDateEmpty())
        {
            <p>@l.otherUser.UserName wants to borrow @l.ApiBook.title: @Html.ActionLink("Approve", "Approval", "Home", new { loanId = l.loan.Id })?</p>

        }
        else
        {
            <p>@l.otherUser.UserName is borrowing @l.ApiBook.title</p>
            <br />
            <p>Due: @Html.ActionLink($"{l.loan.DueDate.Value.ToShortDateString()}", "Approval", "Home", new { loanId = l.loan.Id })</p>

        }
        string email = $"mailto:{l.otherEmail}?subject=Regarding {l.ApiBook.title}";

        <a href="@email">Send Email</a>
        <br />
    }

    <h2>Books You Are Borrowing</h2>
    @foreach (LoanRating l in Model.Where(x => x.loan.BookLoaner == userId && x.loan.LoanStatus))
    {
        <p>Loan #@l.loan.Id</p>
        int coverId = 0;
        if (l.ApiBook.covers is not null)
        {
            coverId = l.ApiBook.covers.Where(x => x > 0).First();
        }

        string imgSrc = $"http://covers.openlibrary.org/b/id/{coverId}.jpg";
        if (coverId != 0)
        {
            <img src=" @imgSrc" alt="@l.ApiBook.title" width="100" />
        }
        else
        {
            <img width="100" src="https://via.placeholder.com/500x750?text=No+Cover+Found" alt="No book cover image available for @l.ApiBook.title">
        }
        if (l.loan.IsDateEmpty())
        {
            <p>@l.otherUser.UserName is reviewing your request to borrow @l.ApiBook.title:  @Html.ActionLink("Pending Details", "Approval", "Home", new { loanId = l.loan.Id })</p>

        }
        else
        {
            <p>You are borrowing @l.otherUser.UserName's copy of @l.ApiBook.title</p>
            <br />
            <p>It is due:  @Html.ActionLink($"{l.loan.DueDate.Value.ToShortDateString()}", "Approval", "Home", new { loanId = l.loan.Id })</p>

        }

        string email = $"mailto:{l.otherEmail}?subject=Regarding {l.ApiBook.title}";

        <a href="@email">Send Email</a>
        <br />

    }

    <h2>Loan History</h2>
    @foreach (LoanRating l in Model.Where(x => x.loan.LoanStatus == false))
    {
        <p>Loan #@l.loan.Id</p>
        int coverId = 0;
        @if (l.ApiBook.covers is not null)
        {
            coverId = l.ApiBook.covers.Where(x => x > 0).First();
        }

        string imgSrc = $"http://covers.openlibrary.org/b/id/{coverId}.jpg";
        @if (coverId != 0)
        {
            <img src=" @imgSrc" alt="@l.ApiBook.title" width="100" />
        }
        else
        {
            <img width="100" src="https://via.placeholder.com/500x750?text=No+Cover+Found" alt="No book cover image available for @l.ApiBook.title">
        }
        @Html.ActionLink("More Details", "Approval", "Home", new { loanId = l.loan.Id })


        @if (l.loan.BookOwner == userId)
        {
            <p>@l.otherUser.UserName borrowed "@l.ApiBook.title" from you!</p>
            if (l.loan.RecipientRating == 0)
            {


                <a asp-action="RateLoan" asp-route-loanId="@l.loan.Id">
                    <button>
                        Rate your borrower
                    </button>
                </a>
            }
        }
        else if (l.loan.BookLoaner == userId)
        {
            <p>You borrowed "@l.ApiBook.title" from @l.otherUser.UserName</p>
            if (l.loan.OwnerRating == 0)
            {

                <a asp-action="RateLoan" asp-route-loanId="@l.loan.Id">
                    <button>
                        Rate your lender
                    </button>
                </a>
            }
        }


    }
</div>