@model BookInfo

@{
    // null checks on Book Covers and Subjects

    string imgSrc = null;
    if (Model.covers is not null)
    {
        int coverId = Model.covers.Where(x => x > 0).First();
        imgSrc = $"http://covers.openlibrary.org/b/id/{coverId}-L.jpg";
    }

    int subjectCount = 0;
    int authorsCount = 0;

    if (Model.subjects is not null)
    {
        subjectCount = Model.subjects.Length;
    }

    if (Model.authors is not null)
    {
        authorsCount = Model.authors.Count;
    }

    bool alreadyHasBook = (bool)TempData["AlreadyHasBook"];
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-3">

            @if (imgSrc == null)
            {
                <img class="img-fluid d-block single-book-image" src="https://via.placeholder.com/500x750?text=No+Cover+Found">
            }
            else
            {
                <img class="img-fluid d-block single-book-image" src="@imgSrc">
            }

        </div>
        <div class="col-md-8 mt-3">
            <div class="col-12 col-md-12 mb-3">
                <h1>@Model.title</h1>

                <!-- Author null check and comma handler-->
                @if (Model.authors is not null)
                {
            <p class="lead">
                By
                @{
                    int biteratorAuthor = 0;
                }

                @foreach (Author author in Model.authors)
                {
                    <text>@author.name.Trim()</text>
                    if (++biteratorAuthor != authorsCount && authorsCount != 0)
                    {
                        <text>, </text>
                    }
                }

            </p>
                }
                else
                {
                    <p class="lead">Author Unknown</p>
                }

                @if (Model.description != null)
                {
                    <p>@Model.description</p>
                }
                else
                {
                    <p>There is no description for this book right now.</p>
                }


                <!-- Subjects null check and comma handler-->
            <b>
                Subjects:
                @{
                    int biteratorSubjects = 0;
                }
                @if (Model.subjects is not null)
                {

                    @foreach (string subject in Model.subjects)
                    {
                        <text>@subject</text>
                        if (++biteratorSubjects != subjectCount && subjectCount != 0)
                        {
                            <text>, </text>
                        }
                    }
                }
            </b>
            </div>
            <div class="col-12 col-md-12">
                @if (alreadyHasBook)
                {
                    <a asp-action="AddBookToLibrary" asp-controller="Home" asp-route-bookId="@Model.key" class="btn btn-primary mr-2">You own this book</a>

                }
                else
                {
                    <a asp-action="AddBookToLibrary" asp-controller="Home" asp-route-bookId="@Model.key" class="btn btn-primary mr-2">Add to My Library</a>

                }
                <a asp-action="ReviewBook" asp-controller="Home" asp-route-bookId="@Model.key" class="btn btn-outline-primary">Write a review&nbsp;</a>
            </div>
        </div>
    </div>
</div>